.car-list-container{
    display: flex;
    flex-direction: column;
    .list{
        display: flex;
        flex-direction: column;
    }
    .pagination{
        display: flex;
        justify-content: flex-end;
    }
}